body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* head-style */

nav{
  display: flex;
  justify-content: space-between;
margin: 60px 200px;
}
nav h2{
  color: #3A3A3A;
font-family: Poppins;
font-size: 24px;
font-weight: 700;

}
ul{
  display: flex;
  gap: 20px;;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 74px;
height: 34.8px;
}
/* main-style strad */
main{
    width: 1440px;
height: 2750px;
background: #fff;
margin: 0 auto;
}
.sub-conteiner{
 margin: 20px 30px;
 display: flex;
 gap: 150px;
}
.div-disciption h3{
    width: 582px;
color: #3A3A3A;
font-size: 52px;
font-weight: 700;
}
.div-disciption p{
    width: 505px;
color: #3A3A3A;
font-size: 16px;
font-weight: 600;
}
.btn{
    color: #f5e4e4;
    border-radius: 41px;
background: #E02C6D;

height: 30px;
}
.section-img{
    background-image: url(images/Circle\ design.svg);
}
  /* style logos */
  .logos{
    display: flex;
    gap: 60px;
  align-items: center;
  }
  .sub-logos img{
    padding: 20px;
    margin-top: 100px;
  }
  /* crad style */
  .Popular-Collection{
margin-top: 120px;

  }
  .popu{
    text-align: center;
    color: #3A3A3A;
font-size: 50px;
font-weight: 600;
align-items: center;
margin-bottom: 20px;
  }
  .crad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 10px;
  }
  .sub-crad{
    width: 329px;
    height: 650px;
    flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
margin-top: 30px;
  }
  .sub-crad h3{
    color: var(--Text-Gray-900, #18191F);
    font-size: 28px;
    padding: 10px;
  }
.sub-crad p{
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
font-size: 24px;
padding: 10px;

}
.sub-crad img{
  width: 300px;
  height: 256px;
 margin: 20px 10px;
}
.fa-regular.fa-star{
  padding: 10px;
}
.sub-crad:hover{
  background-color: #f5eef0;
  border-radius: 10px;
}
.mare{
  text-align: right;

  
color: rgba(224, 44, 109, 0.87);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
margin-top: 16px;
font-size: 20px;
font-weight: 700;
}

/* style Feourted strad */
.Fre{
display: flex;
gap: 150px;
margin-top: 150px;
}
.Fre2 img{
  width: 404px;
height: 270px;

}

.Fre3 h1{
  color: #0A0826;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
}
.Fre3 .Amet{
  width: 501px;
  height: 88px;
  color: #6C6C6C;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 175% */
}
.Fre3 .btn-2{
  height: 50px;
  width: 150px;
  font-size: 20px;
  background: #E02C6D;
  color: #f5e4e4;
  border-radius: 50px;
}

/* style Feourted end */
/* -------------------
main style end
------------------------ */
.footer-container{
  width: 1440px;
height: 239px;
background: #0A0826;
 margin: 0 auto;
}
.footer-disciption{
display: grid;
justify-content: center;
padding-top: 50px;

}
.in{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.copy{
  color: var(--Text-Gray-300, #D9DBE1);
font-feature-settings: 'liga' off;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
}
.footer-img img{
  width: 32px;
height: 32px;
}
.footer-img{
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* style. css  */
/* media qurari */
.hade{
  display: none;
}
@media only screen and (max-width:788px) {
nav{
  flex-direction: column;

}
ul{
  flex-direction: column;
}

  .sub-conteiner{
    display: flex;
    flex-direction:column-reverse;
    align-items: baseline;
  }
  .logos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .popu{
    text-align: left;
  }
  .crad{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
  }
 .Fre{
  display: flex;
  flex-direction: column-reverse;
 }
 .footer-container{
  width: 360px;
height: 211px;
background: #0A0826;
 }
}